<div align="center">
    <H2><b><{$docmanager_main_title}></b></H2>
</div>

<br /><br />

<b><{$docmanager_error}></b>


<{if $docmanager_error == ""}>

<table cellpadding="1" cellspacing="0" width="100%" align="center" border="1">
    <tr>
        <td>
            <table cellpadding="1" cellspacing="0" width="100%" align="center" border="0">
                <tr>
                    <td>
                        <b><{$docmanager_title}><H3><{$docmanager_folder_name}></H3></b>                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br /><br />

<form action='insert_info.php' method='post'>

<table cellpadding="0" cellspacing="0" width="100%" align="center" border="0">
    <tr>
        <td width="30%" align="left">
            <{$docmanager_modfolder_name}>
        </td>    
        <td width="70%" align="left">
            <input type="text" name="new_folder_name" value=""></input>
        </td>
    </tr>
</table>

<input type="hidden" name="folder_id" value="<{$docmanager_folder_id}>"></input>
<input type="hidden" name="op" value="mod_folder"></input>


<br /><br />

<div align="center">
    <input type="submit" value="<{$docmanager_modfolder_submit}>"></input>
    &nbsp;&nbsp;
    <input type="button" value="<{$docmanager_modfolder_cancel}>" onclick="javascript:history.go(-1)"></input>
    
</div>

</form>

<{/if}>
